* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    /* background-color: #ededed; */
}


/* mobile navbar start */
.mobileviewnav {
  display: none;
  margin-bottom: 50px;
}
.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.offcanvas-body .first-box {
  width : 100%
}
.offcanvas-body .sub-first-box p {
  margin-bottom: 0;
}
#mobile-date {
  font-size: 14px;
}
.offcanvas-body .eod-text-1 {
  margin-bottom: 0;
}
.navbar-toggler {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
.navbar-toggler:hover {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
.navbar-toggler:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
.left-menubar {
  width: 25px;
}
/* mobile navbar end */



.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* child 1 start */
.child-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.child-1 p {
  margin-bottom: 0;
}



/* left child 1 start */
.left-child-1 {
  width: 20%;
  border-right: 1px solid gray;
}
.sub-left-child-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
   position: sticky;
  z-index: 999;
  top: 0px;
  padding-bottom: 10px;
}

.sub-right-child-top-1 .logo {
  display: none;
}

.logo {
  width: 85%;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: white;
}
.logo img {
  width: 40%;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
}



.first-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 18px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background-color: #007ab3;
  color: white;
  z-index: 0;
}
.sub-first-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.sub-first-box-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.sub-first-box-image img {
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 6px;
  background-color: #f39c12;
}
/* left child 1 end */



/* right child 1 start */
.right-child-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 79%;
  padding: 5px;
}
/* right child 1 end */



/* right child top start  */
.right-child-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 100%;
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #007ab3;
  position: sticky;
  top: 0px;
  z-index: 999;
}
 

.welcome {
  color: #f39c12;
  font-size: 14px;
  font-weight: 700;
}
.name {
  font-weight: 700;
  color: white;
}
#datetime {
  color: white;
  font-size: 14px;
}



.sub-right-child-top-2 {
  display: flex;
  gap: 20px;
}
.white-image {
  width: 30px;
  height: 30px;
  /* border: 1px solid white; */
  background-color: #f39c12;
  padding: 4px;
  border-radius: 6px;
}

.offcanvas-body .sub-right-child-top-2 .blue-image {
  background-color: #007ab3;
}
.blue-image {
  width: 30px;
  height: 30px;
  /* border: 1px solid white; */
  background-color: white;
  padding: 4px;
  border-radius: 6px;
}
/* right child 1 top end */



/* right child 1 bottom start */
.right-child-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* right child 1 bottom end */



/* right child 1 bottom 1 start */
.right-child-bottom-1 {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-right: 20px;
  border-right: 1px solid gray;
}
.right-child-bottom-1 p {
  margin-bottom: 0;
}



.domain-heading {
  font-size: 20px;
  font-weight: 700;
  color: #007ab3;
}
.abacus-experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
  }
  .sub-abacus-experience {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .abacus {
    font-weight: 700;
  }
  .experience {
    font-size: 14px;
  }
  .sub-abacus-experience img {
    width: 20px;
  }

  .add-domain {
    padding: 10px;
    border-radius: 10px;
    background-color: #007ab3;
    color: white;
    font-weight: 700;
    width: 100%;
    border: none;
  }



  .login-heading {
    font-size: 20px;
    font-weight: 700;
    color: #007ab3;
    
  }
  
  

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    margin-top: 40px;
    position: relative;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index: 9;
  }

  .login-form-input{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
    outline: none;
  }



  .one{
      position: relative;
  }
  .otp {
      position: absolute;
  }
  #generate-otp {
      width: 100px;
      border-style: none; 
      background-color: #007ab3; 
      border-radius: 5px; 
      font-size: 13px; 
      color: white;
      position: absolute;
      right: 5px;
      top:4px;
      padding: 4px;
      outline: none;
  }
  #valid-otp {
      display: none;
      width: 100px; 
      border-style: none; 
      background-color: #007ab3; 
      border-radius: 5px; 
      font-size: 13px; 
      color: white;
      position: absolute;
      right: 5px;
      bottom:4.5px;
      padding: 4px;
      outline: none;
  }

  


  #hide-otp {
      display: none;
      margin-top: 10px;
  }

  #brake1 {
      display: none;
  }

  #brake2 {
      display: none;
  }

/* right child 1 bottom 1 end */




/* right child 1 bottom 2 start */
.right-child-bottom-2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: end;
  gap: 10px;
  padding-top: 20px;
}



.eod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.sub-eod {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.eod-text-1 {
  font-weight: 700;
}
#date {
  font-size: 14px;
}
.sub-eod a {
  border-radius: 6px;
  /* border: 1px solid #007ab3; */
  background-color: #007ab3;
  color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 6px;
  width: 100%;
  text-decoration: none;
  text-align: center;
}



.add-image {
  width: 90%;
}
.add-image img {
  width: 100%;
  border-radius: 10px;
}



.ask-form {
  width: 90%;
}
.ask {
  font-size: 20px;
  font-weight: 700;
  color: #007ab3;
  margin-top: 30px;
  padding-bottom: 5px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* border: 1px solid #007ab3; */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 15px;
}
form input {
  border-radius: 4px;
  border: 1px  solid gray;
  font-size: 14px;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
form textarea {
  border-radius: 4px;
  border: 1px  solid gray;
  font-size: 14px;
  outline: none;
  padding-left: 5px;
  resize: none;
  height: 80px;
}
form button {
  border: none;
  background-color: #007ab3;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  padding: 4px;
  font-size: 14px;
}
/*  right child 1 bottom 2 end */




/* footer start */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  background-color: #007ab3;
  color: white;
}
.footer p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}
.footer a {
  text-decoration: none;
  color: white;
}
/* footer end */



@media screen and (min-width:320px) and (max-width:768px) 
{

  /* mbile navbar start */
  .mobileviewnav {
    display: unset;
    position: fixed;
    z-index: 9909;
    background-color: white;
    width: 100%;
    bottom: -50px;
  }
  .container-fluid {
    display: flex;
  }



  .offcanvas-body .logo {
    width: 100%;
     position: unset;
    top: unset;
    margin-top: 0;
  }
  .offcanvas-body .sub-right-child-top-2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   
  }
  .offcanvas-body .sub-right-child-top-2 img {
    width: 20px;
    height: 20px;
    background-color: #f39c12;
    padding: 4px;
    border-radius: 6px;
  }
  /* mobile navbar end */



  /* left child 1 start */
  .left-child-1 {
    border-right: none;
    display: none;
  }
  .sub-left-child-1 {
    display: none;
  }
  /* left child 1 end */



  /* right child 1 start */
  .right-child-1 {
    width: 100%;
    padding: 10px;
  }
  /* right child 1 end  */



  /* right child 1 top start  */
  .right-child-top {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
    padding: 10px;
    position: unset;
    top: unset;
    border-radius: 10px;
    z-index: 99;
  }



  .sub-right-child-top-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name {
    color: #007ab3;
  }
  #datetime {
    color: #007ab3;
  }
  .sub-right-child-top-1 .logo {
    display: unset;
    position: unset;
    top: unset;
    width: 50%;
    box-shadow: unset;
    margin-top: 0;
    padding: 0;
  }
  .sub-right-child-top-1 .logo img {
    width: 50%;
    filter: unset;
  }



  .sub-right-child-top-2 {
    display: none;
  }
   /* right child 1 top  end  */



  /* right child 1 bottom start */
  .right-child-bottom {
    z-index: 0;
    padding: 0;
  }



  .right-child-bottom-1 {
    width: 100%;
    border-right: none;
    padding-right: 0;
  }



  .domain-heading  {
    font-size: 18px;
  }
  .add-domain {
    font-size: 16px;
  }



  .login-form {
    margin-top: 10px;
  }
  .login-heading {
    font-size: 18px;
  }
  .login-form-input {
    font-size: 14px;
  }
  #generate-otp {
    font-size: 12px;
  }
   #valid-otp {
    font-size: 12px;
  }
  


  .right-child-bottom-2 {
    display: none;
  }
/* right child bottom end */



/* footer start */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 45px;
    
  }
  .footer p {
    font-size: 12px;
  }
  /* footer end */

}